<h1>Listing News</h1>

<table>
  <thead>
    <tr>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
          <dt><b><%= blog.name %></b></dt>
          <dd><%= blog.content %></dd>
           <dl>Posted <%= time_ago_in_words(blog.created_at) %> ago </dl>

        <% if session[:user_id] %>
        <dd><%= link_to 'Show', blog %> 
        <%= link_to 'Edit', edit_blog_path(blog) %> 
         <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></dd>
        <% end %>
        <br />
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:user_id] %>
<%= link_to 'Post News', new_blog_path %>
<% end %>
